<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="http://localhost/SistemaRkav/assets/css/styles.css">
</head>
<body>
    <header>
            <div class="container">

                    <img id="logo" src="http://localhost/SistemaRkav/assets/img/logo_size.jpg">

                    <h4 id="user">Bem Vindo {{name_user}}</h4>

                <div id="menu">
                    
                    <a href="http://localhost/SistemaRkav/?pagina=home">Home</a>
                    <a href="http://localhost/SistemaRkav/?pagina=pesquisar&metodo=search">Pesquisar Produtos</a>
                    <a href="http://localhost/SistemaRkav/?pagina=cadastrar&metodo=create">Cadastrar</a>
                    <a href="http://localhost/SistemaRkav/?pagina=produtos">Produtos</a>
                    <a href="http://localhost/SistemaRkav/?pagina=clientes">Clientes</a>
                    <a href="http://localhost/SistemaRkav/?pagina=home&metodo=logout">Sair</a>
                    
                </div>

            </div>

            
        </div>
    </header>

    <div id="principal">


        <br><center><h1>Sistema de Gerenciamento</h1></center>

        <center><img src="http://localhost/SistemaRkav/assets/img/logo.jpg"></center> 

        <center><h1>O melhor de Cama Mesa e Banho</h1></center>


        


        

    </div>

    <footer>
        <div class="row">
            <div class="col-md-12">
                <center>© 2020 rkav | Todos os direitos reservados. Construido por <a href="#">RKAV</a>.</center>
            </div>
        </div>

    </footer>
    
</body>
</html>